<h1>Challenges</h1>

<img src="#" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus assumenda sint cumque eveniet magni sunt voluptatum architecto totam corporis at, ipsam reiciendis laboriosam porro cum perferendis dicta a enim?
Cupiditate, tempora officia deleniti dolor fuga odit distinctio, est quas quod similique earum? Ipsa, facilis repellendus. Repellendus adipisci consequuntur sunt? Minus, tempora placeat magnam consequatur cupiditate quisquam libero eum inventore.
Dignissimos, obcaecati eos necessitatibus totam sed iure earum doloribus labore optio, dolorem, quas ratione doloremque voluptates voluptas fugit alias officiis libero a minus? Quos asperiores laudantium, amet pariatur consequuntur dolore!
Fugiat laborum odit labore distinctio tempore iure quaerat nobis aperiam fuga, nesciunt dicta beatae, omnis, non aliquam? Veritatis similique, aliquid nisi perspiciatis adipisci temporibus velit ullam aliquam provident, nemo iste.</p>
<p>can't wait to discover our challenges?</p>

<a href="">discover more</a>
<ul>
  <% @challenges.each do |challenge| %>
    <li><%= link_to challenge.name, challenge_path(challenge) %></li>
  <% end %>
</ul>

<footer></footer>
